spring:
  profiles:
    group:
      default: local

mybatis:
  configuration:
    jdbc-type-for-null: other
    # dto나 vo 사용시 camelcase로 맵핑
    # 생성자로 맵핑 할 경우 설정할 필요 없지만, 생성자 순서대로 select를 해야 함
    map-underscore-to-camel-case: true 
    call-setters-on-nulls: true # map 사용시 null 컬럼도 리턴함
    default-statement-timeout: 30 # 초단위, 쿼리 실행이 30초를 넘으면 중단
    # default-fetch-size: 500 # 대량 조회 필요시 사용

  mysql:
    mapper-locations: classpath:mybatis/mysql/**/*.xml
    type-aliases-package: io.devfactory.web.**.vo, io.devfactory.web.**.dto, io.devfactory.global.common.typehandler
    type-handlers-package: io.devfactory.global.common.typehandler

  mariadb:
    mapper-locations: classpath:mybatis/mariadb/**/*.xml
    type-aliases-package: io.devfactory.web.**.vo, io.devfactory.web.**.dto, io.devfactory.global.common.typehandler
    type-handlers-package: io.devfactory.global.common.typehandler

jasypt:
  encryptor:
    bean: encryptorBean
    property:
      prefix: 'ENC['
      suffix: ']'

logging:
  level:
    io.devfactory: debug

app:
  aop.transaction.enabled: false
  mybatis:
    aop.enabled: true
    interceptor.enabled: false
